src/main/docker/WsdlDateien/PersistenzService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://microServices.MSBenchmark/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersistenzService" targetNamespace="http://microServices.MSBenchmark/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://microServices.MSBenchmark/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://microServices.MSBenchmark/">
  <xs:element name="fortschritt" type="tns:fortschritt"/>
  <xs:element name="getDatenBatch" type="tns:getDatenBatch"/>
  <xs:element name="getDatenBatchResponse" type="tns:getDatenBatchResponse"/>
  <xs:element name="getStatus" type="tns:getStatus"/>
  <xs:element name="getStatusResponse" type="tns:getStatusResponse"/>
  <xs:element name="setDatenBatch" type="tns:setDatenBatch"/>
  <xs:element name="setDatenBatchResponse" type="tns:setDatenBatchResponse"/>
  <xs:complexType name="getDatenBatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fortschritt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fortschritt">
    <xs:sequence>
      <xs:element name="alsStapel" type="xs:boolean"/>
      <xs:element name="batchAmSpeichern" type="xs:boolean"/>
      <xs:element name="batchInBearbeitung" type="xs:boolean"/>
      <xs:element name="bis" type="xs:int"/>
      <xs:element name="durchschnittszeitEinzeln" type="xs:double"/>
      <xs:element name="endZeit" type="xs:long"/>
      <xs:element name="gerade" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="msUmdrehenGerade" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nachSQLDatenHolen" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nachSQLDatenSpeichern" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nachTransformator" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nachTransformatorMS" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nachUmdrehenMS" nillable="true" type="xs:long"/>
      <xs:element name="parameter" type="xs:int"/>
      <xs:element name="protokoll" type="xs:int"/>
      <xs:element name="sqlGerade" type="xs:int"/>
      <xs:element name="sqlGeradeSpeichern" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stapel" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stapelGedreht" nillable="true" type="xs:string"/>
      <xs:element name="stapelgroesse" type="xs:int"/>
      <xs:element name="startZeit" type="xs:long"/>
      <xs:element minOccurs="0" name="titel" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transformatorBatchErhalten" nillable="true" type="xs:long"/>
      <xs:element name="transformatorMS" type="xs:boolean"/>
      <xs:element name="von" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vorSQLDatenHolen" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vorSQLDatenSpeichern" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vorTransformator" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vorTransformatorMS" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vorUmdrehenMS" nillable="true" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatenBatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setDatenBatch">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setDatenBatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>
  <xs:complexType name="ClassNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDatenBatchResponse">
    <wsdl:part element="tns:getDatenBatchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDatenBatchResponse">
    <wsdl:part element="tns:setDatenBatchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDatenBatch">
    <wsdl:part element="tns:setDatenBatch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatus">
    <wsdl:part element="tns:getStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClassNotFoundException">
    <wsdl:part element="tns:ClassNotFoundException" name="ClassNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDatenBatch">
    <wsdl:part element="tns:getDatenBatch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersistenzInterface">
    <wsdl:operation name="getDatenBatch">
      <wsdl:input message="tns:getDatenBatch" name="getDatenBatch">
    </wsdl:input>
      <wsdl:output message="tns:getDatenBatchResponse" name="getDatenBatchResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:ClassNotFoundException" name="ClassNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDatenBatch">
      <wsdl:input message="tns:setDatenBatch" name="setDatenBatch">
    </wsdl:input>
      <wsdl:output message="tns:setDatenBatchResponse" name="setDatenBatchResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:ClassNotFoundException" name="ClassNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatus" name="getStatus">
    </wsdl:input>
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersistenzServiceSoapBinding" type="tns:PersistenzInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDatenBatch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDatenBatch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDatenBatchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDatenBatch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setDatenBatch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setDatenBatchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersistenzService">
    <wsdl:port binding="tns:PersistenzServiceSoapBinding" name="PersistenzPort">
      <soap:address location="http://10.15.255.62:18080/microServices/PersistenzService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>